<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar {{progreso1}}</h4>
                <div class="progress-bar bg-primary progress-bar-striped active" role="progressbar" style="height: 5px;" [style.width]="getProgreso1">
                    <!---->


                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar  {{progreso2}}</h4>
                <div class="progress-bar bg-info progress-bar-striped active" role="progressbar" style="height: 5px;" [style.width]="getProgreso2">
                    <!---->


                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (valor)="progreso1 = $event" [progreso]="progreso1" [btnClass]=""></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (valor)="progreso2 = $event" [progreso]="progreso2" [btnClass]="'btn-info'"></app-incrementador>
            </div>
        </div>
    </div>
</div>
