<div id="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="container-fluid">


            <!--BreadCrumbs-->
            <app-breadcrumbs></app-breadcrumbs>
            <!--mi systema de ruta -->
            <router-outlet></router-outlet>
            <!--<div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>-->

        </div>
        <footer class="footer">
            © 20xx Admin Pro by wrappixel.com
        </footer>
    </div>

</div>
<app-modal-imagen></app-modal-imagen>
