<div class="row">

  <div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Mi Perfil de Usuario </h4>
            <h6 class="card-subtitle">ajustes</h6>
            <form class="form p-t-20" [formGroup]="perfilForm" (ngSubmit)="actualizarPerfil()">
                <div class="form-group">
                    <label for="exampleInputuname">User Name</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-user"></i></div>
                        <input type="text" formControlName="nombre" class="form-control" id="exampleInputuname" placeholder="Nombre de Usuario">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" >Email address</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-email"></i></div>
                        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" placeholder="Direccion de Correo " [readOnly]="usuario.google">
                    </div>
                </div>

                <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10" [disabled]="perfilForm.invalid"><i class="fa fa-save"></i> Guardar Cambios</button>

            </form>
        </div>
    </div>
</div>
<div class="col-md-6">
  <div class="card">
    <h4 class="card-title">Avatar</h4>
    <h6 class="card-subtitle">Imagen del Usuario</h6>
    <div class="text-center">
 <img *ngIf="!imgTemp" [src]="usuario.imagenUrl" class="img-avatar">
<img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
    </div>

    <input (change)="cambiarImagen($event.target.files[0])" type="file" >
    <br>
    <br>
    <button type="button" class="btn btn-success waves-effect btn-block waves-light m-r-10" [disabled]="!imagenSubir" (click)="subirImagen()"><i class="fa fa-save"></i> Cambiar Imagen</button>
  </div>

</div>

</div>
