<div class="row">
    <div class="col-6">
        <app-dona [titulo]="'Ventas'" [doughnutChartLabels]="labels1" [data]="data1"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [titulo]="'Compras'" [doughnutChartLabels]="labels2" [data]="data2"></app-dona>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-dona [titulo]="'Cambios'" [doughnutChartLabels]="labels3" [data]="data3"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [titulo]="'Compras 2'" [doughnutChartLabels]="labels4" [data]="data4"></app-dona>
    </div>
</div>
