<div class="fondo-modal-imagen  animated fadeIn fast" [class.oculto]="modalImagenService.ocultarModal">

<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: block; padding-right: 17px;">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel1">Cargar Imagen</h4>
              <button type="button" (click)="cerrarModal()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <h3>Selecciones una Imagen</h3>
            <div class="text-center">
            <img *ngIf="!imgTemp" [src]="modalImagenService.img" class="img-avatar">
             <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
                 </div>

                 <input (change)="cambiarImagen($event.target.files[0])" type="file" >
          </div>
          <div class="modal-footer">
              <button type="button" (click)="cerrarModal()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button (click)="subirImagen()" type="button" class="btn btn-primary">Actualizar Foto</button>
          </div>
      </div>
  </div>
</div>
</div>


