.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#themecolors .selector,.cursor {
    cursor: pointer;
}

#google-btn{
  align-items: center;
  display: flex;
  justify-content:center;
  text-align: center;
}
.img-avatar{
  width: 200px;
  height: 200px;
}
.w100{
width: 100px;
}
.w140{
  width: 140px;
  }
.avatar{
  border-radius: 50%;
  width: 75px;
  border: 1px solid gray;
}

.fondo-modal-imagen{
  background-color: rgba(0,0,0,0.4) ;
  position: fixed;
  top:0px;
  height: 100%;
  width: 100%;
  z-index: 999;

}

.oculto{
display: none;
}
